{% extends "layout.html" %}

{% block title %}
	About
{% endblock %}

{% block content %}
	<div>
		<h2>About us</h2>
		<table class="t1" border="0">
			<tr class="tr1">
				<td class="td1">
					The Harvesters International Bible Training Center (HIBTC) is a Bible school founded on <b>June 11, 2012</b> in 
					Tagaytay City, Philippines.<br>
					We are training people to serve the LORD and the world with the Love of God.
				</td>
				<td class="td2" rowspan="4">
					<img src="../public/img/founders.jpg" alt="Lyford and Martha"  width="200" height="200"><br>
					Founders <br>Lyford and Martha Morris
				</td>
			</tr>
			<tr>
				<td class="td1">
					<h3>Mission</h3><br>"To equip and train stable ministers in the Word of God, the leading of God’s Spirit, to live daily in love, faith, and victory."
				</td>
			</tr>
			<tr>
				<td class="td1">
					<h3>Vision</h3>"An unending move of God in the Philippines and Asia with Spirit-Led Ministers and 7 million new disciples of Jesus Christ and 1000 new churches."
				</td>
			</tr>
			<tr>
				<td class="td1">
					<h3>Awards</h3>Diploma, 1 and 2 year
				</td>
			</tr>
		</table>
	</div> 
{% endblock %}

