{% extends "layout.html" %}

{% block title %}
	About
{% endblock %}

{% block content %}
	<h3>About us</h3>
	<table>
		<tr>
			<td>
				The Harvesters International Bible Training Center (HIBTC) is a Bible school in 
				Tagaytay City, Philippines.<br>
				We are training people to serve the LORD and the world with the Love of God.
			</td>
			<td>
				<img src="../public/img/founders.jpg" alt="Lyford and Martha"  width="200" height="200"><br>
				Founders <br>Lyford and Martha Morris</td>
		</tr>
	</table>
	<p></p> 
{% endblock %}

