{% extends "layout.html" %}

{% block title %}
	Contact
{% endblock %}

{% block content %}
	<div>
		<div>
			<h2>Contact Info</h2>
			<table class="t1">
				<tr class="tr1">
					<td class="td1"><em>Phone:</em></td>
				  <td class="td1">63-918-830-9690<br>046-413-1419<br>0933-110-4488</td>
				  <td rowspan="2"><img src="../public/img/logo.jpg" alt="graduation" height="400"></td>
				</tr>
				<tr class="tr1">
					<td class="td1"><em>Email:</em></td>
					<td class="td1"><a href="mailto:HIBTC2012@gmail.com?Subject=Hello" target="_top">HIBTC2012@gmail.com</a></td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}


